 <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <!-- <server>
      <id>anypoint-exchange-v2</id>
      <username>acgapiplatform</username>
      <password>AcgMulesoft@100</password>
    </server>
    <server>
      <id>mulesoft-ee-releases</id>
      <username>auto.club.group.nexus</username>
      <password>B6Txh3pyLXJT3YL8SXVR</password>
    </server> -->
  </servers>


  <profiles>
    <profile>
      <id>default-archetype</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>              
      <repositories>
        <repository>
          <id>anypoint-exchange-v2</id>
          <name>ACG Anypoint Exchange Repository</name>
          <url>https://maven.anypoint.mulesoft.com/api/v2/maven</url>
          <layout>default</layout>
        </repository>                 
      </repositories>
    </profile>
  </profiles>  
</settings>